@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */

* {
    padding: 0px;
    margin: 0px;
}

body {
    /* background-image: url(../img/background.jpg);
    background-position: center;
    background-position-y: -180px;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background: #f1f1f1; */

    font-family: Nunito\ Sans;
    font-size: 14px;
    font-weight: 400;

    color: #171717
}

.info {
    width: 94%;
    margin: auto;
    margin-top: 50px;

    
    color: #171717;

    /* background-color: rgba(0,0,0,.25);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; */
    box-shadow: 0px 0px 22px 5px rgba(0,0,0,0.10);

    font-family: Nunito\ Sans;
}

.info article {
    width: 75%;

    margin: auto;
    padding-top: 10px;
}

.info img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.info h1 {
    padding: 5px;
    margin: 0px;

    color: #734dff;

    text-align: center;

    font-size: 36pt;
    font-weight: bolder;
}

.info p {
    font-size: 1.2em;

    text-indent: 15px;
}

.info table img {
    width: 150px;
}

.info table td {
    padding: 20px;
}

.info table p {
    text-align: justify;
}

@media screen and (max-width: 980px) {
    .nav {
        height: 10px;
    }

    .info article {
        width: 92%;
    }
}