@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
/* font-family: 'Nunito Sans', sans-serif; */

* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #f1f1f1;

    font-family: Nunito\ Sans;
    font-size: 14px;
    font-weight: 400;

    color: #616161;
}

.conteudo {
    width: 100%;
    
    margin: auto;

    background-image: url(../img/background-conteudo.jpg);
    background-position: center;
    background-position-y: -300px;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color: rgba(0, 0, 0,.2);

    padding-top: 180px;
    padding-bottom: 220px;

    font-family: 'Quicksand', sans-serif;
}


.slogan h2 {
    width: 94%;
    margin: auto;
    color: #171717;

    font-weight: bolder;

    text-align: center;
}

.slogan p {
    width: 94%;
    margin: auto;

    color: white;
    
    text-align: left;
    text-indent: 30px;

    font-size: 20px;
}

.slogan span {
    color: #734dff;

    font-weight: bolder;
}

@media screen and (max-width: 980px) {
    .nav {
        height: 10px;
    }

    .conteudo {
        background-position-y: 0px;
    }
}