@font-face {
	font-family: Afirmative;
	src: url(./Affirmative.ttf);
 }

nav {
	z-index: 1;
	height: 85px;
	line-height: 85px;

	padding: 0px;
	margin: auto;

	background: white;
}

nav a.button-collapse i {
	line-height: 85px;
}

nav ul a {
	font-family: Nunito\ Sans;
	font-weight: 600;

	color: #171717;
	/* color: #616161; */
	/* color: rgb(2, 0, 97); */

	font-size: 17px;
}

nav ul a:hover {
	background: none;
	color: #734dff;
}

.ativo {
	color: #734dff;
}

/* Apagar este elemento (.right) caso de conflito */
.right {
	width: 435px;
	margin: auto;
	
	float: none !important;
}

nav .brand-logo {
	padding: 0px;
	margin-top: 5px;
	margin-left: 30px;
}

nav img {
	width: 75px;
}

nav i {
	color: rgb(2, 0, 97);
}

.nav-wrapper span {
	font-size: 47px;
	font-weight: 700;
}

.background img {
	width: 100%;
}

li ul {
	position: absolute;
	display: none;
}

li:hover ul {
	display: inline;
	width: 250px;
	height: 800px;

	height: 60px;
	line-height: 60px;

	transition: 0.5s;

}

li:hover ul li {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
}

li:hover ul li a {
	background-color: #fff;
	width: 250px;

	font-size: 13px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

li:hover ul li a:hover {
	background: #734dff;
	color: white;
}