@font-face {
	font-family: Afirmative;
	src: url(./Affirmative.ttf);
 }

nav {
	height: 80px;
	line-height: 80px;

	padding: 0px;
	margin: auto;

	background: white;
	box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
}

nav a.button-collapse i {
	line-height: 35px;
}

nav ul a {
	font-family: Nunito\ Sans;
	font-weight: 600;

	color: #616161;
	/* color: rgb(2, 0, 97); */

	font-size: 17px;
}

nav ul a:hover {
	background: none;
	color: #0a5
}

.ativo {
	color: #0a5
}

/* Apagar este elemento (.right) caso de conflito */
.right {
	width: 350px;
	margin: auto;
	
	float: none !important;
}

nav .brand-logo {
	padding: 0px;
	margin-top: 8px;
}

nav img {
	width: 250px;
}

nav i {
	color: rgb(2, 0, 97);
}

.nav-wrapper span {
	font-size: 47px;
	font-weight: 700;
}

.background img {
	width: 100%;
}