@font-face {
	font-family: Afirmative;
	src: url(./Affirmative.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

nav {
	
	z-index: 1;
	width: 100%;
	height: 70px;
	line-height: 70px;

	padding: 0px;
	margin: auto;

	background: white;
}

nav a.button-collapse i {
	line-height: 65px;
}

nav ul a {
	font-family: 'Quicksand';
	font-weight: 600;

	color: #171717;
	/* color: #616161; */
	/* color: rgb(2, 0, 97); */

	font-size: 17px;
}

nav ul a:hover {
	background: none;
	color: #734dff;
}

.ativo {
	color: #734dff;
}

/* Apagar este elemento (.right) caso de conflito */
.right {
	width: 650px;
	margin: auto;
	
	float: none !important;
}

nav .brand-logo {
	padding: 0px;
	margin-top: 5px;
	margin-left: 10px;
}

nav img {
	width: 60px;
}

nav i {
	color: #171717;
}

nav i:hover {
	color: #734dff;
}

.nav-wrapper span {
	font-size: 47px;
	font-weight: 700;
}

.background img {
	width: 100%;
}

.side-nav li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.side-nav a {
	font-weight: 600;
}

.side-nav li:hover {
	background: #734dff;
}

.side-nav li:hover a {
	color: white;
}

li ul {
	position: absolute;
	display: none;
}

li:hover ul {
	display: inline;
	width: 320px;
	height: 800px;

	height: 60px;
	line-height: 60px;

	transition: 0.5s;
}


li:hover ul li a {
	background-color: #fff;
	width: 320px;

	font-size: 15px;
}

li:hover ul li a:hover {
	background: #734dff;
	color: white;
}